@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-action="LoginToPlayer">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <p style="color: red">@TempData["ErrorMessage"]</p>

    <button type="submit">Submit</button>
</form>